@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap');

body {
  margin: 0;
  font-family: 'Noto Serif Khojki';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFAD7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
